@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap");

html {
    scroll-behavior: smooth;
}

* {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    color: red;
    background-image: url(./Repositories/nightglamar.jpeg);
  }

  .title__pic {
   width: 20vw; 
   height: 40vh;
   border-radius: 30px;
   scale: 1.1;
   opacity: .6;
   box-shadow: black 0px 1px 15px 4px ;
  }

  .davi__pic--pink {
    width: 100px;
    border-radius: 50px;
    scale: 1.1;
  }

  .firstborn__para-pic {
    width: 50px;
    border-radius: 50px;  
  }

  .firstborn__para-bigpic {
    width: 20%;
    border-radius: 5px;
  }

  ul {
    

  }

  #nav-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.591);
    padding: 16px;
  }

  li {
    list-style-type: none;
    margin-bottom: 8px;
    margin-right: 12px;
    
  }

  a {
    text-decoration: none;
    font-size: 20px;
    color: red;
    font-weight: 900px;
  }

  /* 1st born */

  .firstborn__wrapper {
    text-align: center;
  }

  .span__color-link {
    color: pink;
    font-size: 24px;
    padding: 1px;
    font-weight: 900;
  }

  .para__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .firstborn__para-bigpic {
    width: 100%;
  }

  