* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  max-width: 1200px;
}

section {
  padding: 32px;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
}

.nav__logos{
  
}

.nav__logo {
  display: flex;
  width: 40px;
  margin-right: 10px;
  padding-bottom: 4px;
}

.nav__treact {
  color: #243E63;
  font-weight: 900;
  font-size: 30px;
  display: flex;
  align-items: center;
  padding: 0px 0px 24px;
}

.nav__links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__link {
  display: flex;
  color: #243E63;
  font-weight: bold;
  padding: 0px 0px 4px;
  margin: 0px 24px 0px;
  font: 14px;
}

.nav__link--login {
  margin: 0px 24px 0px 48px;
}

.nav__link-styled {
  color: white;
  border: none;
  padding: 12px 32px;
  background-color: #7342d6;
  border-radius: 50px;
  font: 14px;
}

/**Main**/
/**Two Columns**/

/**Left Colum**/

.columns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:96px 0px;
}

.column__right--img {
  width: 100%;
}

.column__left--img {
  width: 100%;
}

/**Features**/

