@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 0 0px 0;
  height: 30px;
  transition: ease-in-out 500ms;
}

.nav__link:hover {
  transition: 300ms ease-out;
  transform: scale(1.5);
  color: azure;
  font-size: larger;
}

a {
  font-weight: 900;
  padding-left: 42px;
  text-decoration: none;
  color: rgb(135, 143, 143);
}

ul {
  display: flex;
  list-style-type: none;
}

body {
  background-image: url(./FES.assets/p.background.png);
}

.header__wrapper {
  padding: 20px 1%;
  background-image: url(./FES.assets/phenom.studio.jpeg);
  height: 95vh;
}

.title__wrapper {
  text-align: center;
  height: 60px;
  width: 100%;
  color: rgb(61, 19, 100);
  background-color: rgba(0, 128, 128, 0.671);
  border-radius: 10px;
  box-shadow: 0px 1px 13px 20px rgba(0, 128, 128, 0.655);
}

.span-color {
  color: aqua;
  background-color: blueviolet;
  border-radius: 15px;
  padding: 5px;
  position: relative;
  font-weight: 700;
  font-size: 40px;
  font-family: sans-serif;
  box-shadow: 1px 10px 20px 10px;
  margin-left: 10px;
  margin-right: 10px;
  opacity: 0.7;
}

.phenom__header {
  animation: banger 900ms alternate infinite;
  font-size: 29px;
}

.genisis {
  opacity: 1;
  margin-top: 12px;
  position: sticky;
  color: rgb(238, 230, 230);
  font-style: italic;
  font-weight: 800;
  font-size: 24px;
}

.landing__page {
  height: calc(100vh - 170px);
  text-align: center;
}

.construction {
  margin: 20px;
  color: teal;
}

.podcast {
  margin: 30px;
  color: whitesmoke;
}

.topics {
  margin-top: 25px;
  color: teal;
}

.podcast__img {
  width: 50px;
  margin-top: 25px;
  border-radius: 20px;
  animation: banger 300ms alternate-reverse infinite;
}

@keyframes banger {
  0% {
    scale: 1.12;
  }
  50% {
    color: rgb(177, 169, 169);
  }
  100% {
    scale: 1.21;
    color: rgb(177, 169, 169);
  }
}

.radio__waves {
  position: static;
  left: 100px;
  width: 100px;
  border-radius: 100px;
}

.crystal {
  position: absolute;
  left: 10%;
  top: 650px;
  border-radius: 200px;
  border: 3px teal;
}
.crystal2 {
  position: absolute;
  right: 10%;
  top: 650px;
  border-radius: 200px;
  border: 3px teal;
}

/**sections**/

section {
  height: 100vh;
}

#about,
#gallery {
  text-align: center;
  color: teal;
  padding: 24px;
  font-size: 20px;
}

#recent-topics,
#the-cast {
  background-color: rgba(0, 128, 128, 0.717);
  text-align: center;
  padding: 24px;
  color: rgb(61, 19, 100);
  font-size: 20px;
}

#recent-topics {
  color: rgb(245, 245, 245);
  background-image: url();
}

.gallery {
  height: calc(100vh - 125px);
  width: 65%;
  height: 80%;
  margin-top: 18px;
  border-radius: 20px;
  opacity: 0.7;
  padding: 5px;
  border: 10px solid blueviolet;
  box-shadow: blueviolet -10px -10px 40px 5px;
}
.talk-show {
  height: calc(100vh - 135px);
  margin-top: 1px;
  border-radius: 20px;
  opacity: 0.4;
  padding: 0px;
  border: 5px solid blueviolet;
  box-shadow: blueviolet -1px -3px 15px 9px;
}

.dont-judge {
  margin-top: 100px;
  margin-right: 20px;
  opacity: 0.48;
  height: 200px;
  width: 400px;
  box-shadow: 1px 1px 10px 10px;
  animation: banger 1000ms infinite alternate;
}

.dont-judge:hover {
}

.cast__pic-pd {
  margin: 220px 15px;
  height: 200px;
  border-radius: 100px;
}

.cast__pic-jd {
  margin: 10px 10px;
  height: 200px;
  border-radius: 100px;
}

.cast-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__para {
  color: aliceblue;
}

.queen__p {
  font-size: 25px;
  position: absolute;
  top: 2770px;
  left: 60px;
  color: goldenrod;
  animation: nameChange2 1000ms infinite alternate-reverse;
}

.jadessa {
  font-size: 35px;
  position: absolute;
  position: absolute;
  top: 2835px;
  left: 875px;
  color: goldenrod;
  animation: nameChange 1000ms infinite alternate-reverse;
}

@keyframes nameChange {
  0% {
    color: aqua;
  }
  20% {
    color: blueviolet;
  }
  50% {
    transform: translateY(15px);
    color: aliceblue;
  }
  90% {
    color: rgb(0, 179, 255);
  }
  100% {
    color: goldenrod;
  }
}

@keyframes nameChange2 {
  0% {
    color: aqua;
  }
  20% {
    color: blueviolet;
  }
  50% {
    color: aliceblue;
  }
  90% {
    color: rgb(0, 179, 255);
    transform: translateY(10px) scale(1.5);
  }
  100% {
    color: goldenrod;
  }
}

.footer__wrapper {
display: flex;
flex-direction:column;
align-items: center;
justify-content:center;
}

.footer__junk {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 90px;
}

.footer__link {
  font-size: 20px;
  transition: 300ms ease-in-out;
}

.footer__link:hover {
  text-decoration: underline;
  color: aquamarine;
  font-size: 24px;

}

.footer__links{
  padding: 10px;
  margin: 0px 10px;
}

.copyright {
  c
}